<meta property="og:url" content="https://everythingsmarthome.github.io/everything-presence-one/" />
<meta property="og:type" content="website" />
<meta property="og:description" content="User guide and documentation for the Everything Presence One." />
<meta property="og:image" content="https://everythingsmarthome.github.io/everything-presence-one/images/assembly-complete.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@everysmarthome" />
<meta name="twitter:title" content="Everything Presence One - User Guide" />
<meta name="twitter:description" content="User guide and documentation for the Everything Presence One." />
<meta name="twitter:image" content="https://everythingsmarthome.github.io/everything-presence-one/images/assembly-complete.jpg" />