{% assign outline_docs_url = "https://docs.everythingsmart.io/s/products/doc/everything-presence-one-ep1-3R178yZSUP" %}
<link rel="canonical" href="{{ outline_docs_url }}" />
<meta http-equiv="refresh" content="0; url={{ outline_docs_url }}" />
<script>
  window.location.replace("{{ outline_docs_url }}");
</script>
<meta property="og:url" content="{{ outline_docs_url }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Everything Presence One documentation." />
<meta property="og:image" content="https://everythingsmarthome.github.io/everything-presence-one/images/assembly-complete.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@everysmarthome" />
<meta name="twitter:title" content="Everything Presence One Documentation" />
<meta name="twitter:description" content="Everything Presence One documentation." />
<meta name="twitter:image" content="https://everythingsmarthome.github.io/everything-presence-one/images/assembly-complete.jpg" />
